<title>Contact</title>
{% extends 'base.html' %}
{% load static %}
{% block content %}
    <head>
        <div class="text-center">
            <img src="{% static 'images/Interests/InterestsProfilr.png' %}" width="600" height="500">
            <br><br>
            <div class="center">
            <div class="text-center">
                <h3>ช่องทางการติดต่อ</h3>
                <ul class="nav nav-pills flex-column">
                    <li class="nav-item">
                        <a class="btn btn-outline-primary w-100 border border-5" href="https://www.facebook.com/artdaghngdang/">Facebook</a>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-outline-danger w-100 border-danger border-5" href="https://www.instagram.com/toraoxx/?next=%2F">Instagram</a>

                    </li>
                    <li class="nav-item">
                        <a class="btn btn-outline-success w-100 border-success border-5">Tell : 0993753931</a>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-outline-warning w-100 border-warning border-5" href="#">Email : panupong.na@rmuti.ac.th</a>
                    </li>
                </ul>
                <br>
                <hr class="d-sm-none">
                </di</p>
            </div>
</div>
            </body>
        </div>
    </head>
{% endblock %}