<title>Idol</title>
{% extends 'base.html' %}
{% load static %}
{% block content %}
<html lang="en">
<head>
    <div class="container-fluid mt-3" align="center">
        <h3>Idol</h3>
        <img src="{% static 'images/idol/elon.png' %}"height="400" width="800">
        <br><br>
        <h2>ELON MUSK</h2>
        <h3>อีลอน มัสก์</h3>
        <br>
        <div>
            <h3>ประวัติส่วนตัวของ อีลอน มัสก์</h3>
            <p>Elon Musk เกิดเมื่อ 28 มิ.ย. 1971 ที่กรุงพริทอเรีย หนึ่งในสามเมืองหลวงของแอฟริกาใต้ ปัจจุบันอายุ 51 ปีแล้ว
                เขามีเชื้อสายอังกฤษ (จากฝั่งพ่อ) และแคนาเดียน (จากฝั่งแม่) เป็นลูกคนโตในจำนวนพี่น้อง 3 คน
                ด้วยความที่มีพ่อเป็นวิศวกร เขาจึงเริ่มเรียนรู้เรื่องการเขียนโปรแกรมตั้งแต่อายุ 10 ขวบ
                และเขียนโค้ดขายวิดีโอเกมได้ตั้งแต่อายุ 12 เท่านั้น เขายังชอบอ่านหนังสือพวกนิยายวิทยาศาสตร์และสารานุกรม
                บางวันอ่านนานถึงวันละ 10 ชั่วโมง
            </p>
            <br>
            <img src="{% static 'images/idol/idolelolnnnn.jpg' %}"height="400" width="600">
            <br><br>
            <h2>ก้าวแรกในโลกธุรกิจ</h2>
            <p>บริษัทแรกของ Elon Musk ถือกำเนิดขึ้นในชื่อ Zip2 โดยเขาร่วมก่อตั้งกับน้องชายเป็นธุรกิจฐานข้อมูลและจัดหาข้อมูลให้กับสื่อสิ่งพิมพ์ชื่อดังเจ้าต่างๆ
                อย่างนิวยอร์กไทมส์ เป็นต้น (นึกถึงวันที่โลกยังไม่มี Google และต้องหาข้อมูล หาเบอร์คนต่าง ๆ จากสมุดหน้าหลือง)
                <br><br>
            บริษัทประสบความสำเร็จอย่างรวดเร็วจนได้ขายบริษัทออกไปให้กับบริษัท Compaq ตอนเขาอายุ 28 ปี ด้วยมูลค่าถึง 307 ล้านดอลลาร์
                ส่วนตัว Elon เองได้รับเงินส่วนแบ่งจากหุ้นในครั้งนั้น 22 ล้านดอลลาร์
                นั่นเป็นเวลาหลังจากเขาปั้นบริษัท แห่งนี้มาได้แค่ 4 ปีเท่านั้น
                <br><br>
            ก้าวต่อมา เขาก่อตั้งบริษัท X.com ซึ่งเป็นธุรกิจเกี่ยวกับธนาคารออนไลน์ การเกิดขึ้นของบริษัทรูปแบบนี้ในปี 2000 ต้องเรียกว่ามาก่อนกาล เพราะยุคนั้นก็คงไม่มีใครนึกว่า โลกการเงินจะไปอยู่บนโลกออนไลน์ได้
                (ถึงขนาดที่บริษัท X.com ได้รับการโหวตให้เป็น “บริษัทที่มีไอเดียธุรกิจยอดแย่ที่สุด” ใน ค.ศ. 1999 เลยทีเดียว!)
            X.com ได้ริเริ่มการพัฒนาระบบโอนเงินออนไลน์ ซึ่งต่อมาก็คือ Paypal จนประสบความสำเร็จอย่างมาก Elon
                ขาย X.com ให้กับ eBay ด้วยมูลค่าสูงถึง 1,500 ล้านดอลลาร์ แล้วหนนี้ Elon ได้ส่วนแบ่งจากการขายไป 165 ล้านดอลลาร์จากการถือหุ้นอยู่ 11.7%</p>
            <br>
            <img src="{% static 'images/idol/elon1.jpg' %}"height="450" width="700">
            <br><br>
            <h2>สู่ห้วงอวกาศและโลกยานยนต์พลังงานไฟฟ้า</h2>
            <p>หลังจากประสบความสำเร็จบนโลกออนไลน์แล้ว Elon ก็ออกไปนอกโลกในความหมายของนอกดาวโลกจริง ๆ ปี 2002 บริษัท SpaceX ถือกำเนิดขึ้น
                มุ่งมั่นจะให้บริการการเดินทางในอวกาศสำหรับโลกอนาคต คราวนี้ยิ่งเป็นการแสดงให้เห็นถึงวิสัยทัศน์อันทะเยอทะยานของมหาเศรษฐีอย่างเขา
            <br><br>
                ความฝันที่ Elon เคยให้สัมภาษณ์เอาไว้ก็คือ “เขาอยากจะตายบนดาวอังคาร” คนไทยคงจำกันได้ว่า เขาได้เอาวิทยาการของ SpaceX ที่ชื่อ Mini Submarine แคปซูลเคลื่อนย้ายมนุษย์ใต้น้ำเหมือนเรือดำน้ำขนาดเล็ก มาใช้ในการช่วยชีวิตของเด็ก ๆ ทีมนักฟุตบอล 13 หมูป่าที่ติดถ้ำหลวง
                จังหวัดเชียงราย ซึ่งตัวเขาก็ได้เดินทางมาถึงหน้าถ้ำจริง ๆ ด้วย (แต่สุดท้าย Mini Submarine ไม่ได้ถูกนำมาใช้)
                <br><br>
                หลังจาก SpaceX บริษัทต่อมาที่เขาปลุกปั้นคือ บริษัทยานยนต์ไฟฟ้า Tesla เริ่มก่อตั้ง ค.ศ. 2004 บริษัทนี้แสดงให้เห็นถึงวิสัยทัศน์ล้ำอนาคตของเขาอีกครั้ง เพราะ Elon ลงมือทำรถยนต์พลังงานสะอาดได้ก่อนคนอื่น ปัจจุบัน Tesla กลายเป็นบริษัทผู้ผลิตรถยนต์ไฟฟ้าที่มีมูลค่าบริษัททะลุ 1 ล้านล้านดอลลาร์และเป็นบริษัทผลิตรถบนต์ที่มีมูลค่าสูงที่สุดในโลก นอกจากนี้ Elon ยังคิดและสร้างเทคโนโลยีและวิทยาการอีกหลายอย่างเช่น Hyperloop หรือการเดินทางด้วย Pod
                ในอุโมงค์สุญญากาศความเร็วกว่าเดินทางด้วยเครื่องบิน และ Neuralink เทคโนโลยีที่เชื่อมต่อสมองของมนุษย์เข้ากับคอมพิวเตอร์
                <h2>เหตุผลที่ชอบ </h2>
                <h5>อีลอน มัสก์ เพราะว่าเป็นคนที่มีความเด็ดขาด การบริหารเวลาที่ต่อลูกน้อง</h5>
            <h5>เวลามีการประชุมแต่ละครั้งหากใครประชุมเสร็จสามารถลุกออกไปได้เลยนับว่าเป็นจัดการเวลาที่ดี</h5>
            <br>
            </p>
            <h5>ที่มา : www.moneybuffalo.in.th</h5>
        </div>
    </div>
    <title>Title</title>
</head>
<body>

</body>
</html>
{% endblock %}