<title>showGoodsList</title>
{% extends 'base.html' %}
{% load static %}
{% block content %}
    <head>

    </head>
    <body>
    <div class="container mt-3">
        <div class="row">
            <div class="col-10">
                <h2>Hover Rows</h2>
            </div>
            <div class="col-2">
                <a href="{% url 'newGoods' %}" class = "btn text-success" style="background-color: #B2FF59">
                    <i class="bi bi-folder-plus"> Add</i>
                </a>
            </div>
        </div>
        <table class="table table-hover text-center">
            <thead>
            <tr>
                <th>รหัส</th>
                <th>ชื่อสินค้า</th>
                <th>ยี่ห่อ</th>
                <th>รุ่น</th>
                <th>ราคา</th>
                <th>จำนวนที่เหลือ</th>
                <th>ประเภทสินค้า</th>
            </tr>
            </thead>
            <tbody>
            {% for Goods in Goods %}
                <tr>
                    <td>{{ Goods.gid }}</td>
                    <td>{{ Goods.name }}</td>
                    <td>{{ Goods.brand }}</td>
                    <td>{{ Goods.model }}</td>
                    <td>{{ Goods.price }}</td>
                    <td>{{ Goods.net }}</td>
                    <td>{{ Goods.GoodsCategory.gc_name }}</td>
                    <td style="width: 200px">
                        <a href="{% url 'showGoodsOne' Goods.gid %}" class = "btn text-success">
                            <i class="bi bi-search"></i>
                        </a>
                        <a href="{% url 'updateGoods' Goods.gid %}" class = "btn text-success">
                            <i class="bi bi-wrench-adjustable"></i>
                        </a>
                        <a href="{% url 'deleteGoods' Goods.gid %}" class = "btn text-success">
                            <i class="bi bi-trash3"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>


    </body>
    </html>
{% endblock %}